VITE_API_BASE_URL=http://localhost:5000/api
FIREBASE_PROJECT_ID=xxxx
FIREBASE_CLIENT_EMAIL=xxxx
FIREBASE_PRIVATE_KEY=xxxx
VITE_API_BASE_URL=xxx


# VITE_FIREBASE_API_KEY
# VITE_FIREBASE_AUTH_DOMAIN
# VITE_FIREBASE_PROJECT_ID
# VITE_FIREBASE_STORAGE_BUCKET
# VITE_FIREBASE_MESSAGING_SENDER_ID
# VITE_FIREBASE_APP_ID
# VITE_FIREBASE_MEASUREMENT_ID
# VITE_API_BASE_URL



# src/firebase/firebase.config.js

# import { initializeApp } from "firebase/app";
# import { getAuth } from "firebase/auth";
# import { getFirestore } from "firebase/firestore";

# const firebaseConfig = {
#   apiKey: "...",
#   authDomain: "abcd.firebaseapp.com",
#   projectId: "1234",
# };

# const app = initializeApp(firebaseConfig);

# export const auth = getAuth(app);
# export const db = getFirestore(app);
